*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style-type: none;
}
img {
  display: block;
  max-height: 100%;
}
button {
  display: block;
  padding: 0;
  border: none;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #fafafa;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42857;
  letter-spacing: 0.01em;
  color: #252b42;
  font-family: "Montserrat", sans-serif;
}

main {
  flex-grow: 1;
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}
.menu-close {
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close.is-open {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  pointer-events: all;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* -------------------------Title block */

.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.425;
  letter-spacing: 0.01em;
  text-align: center;
}
.top-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: 0.01em;
  color: #737373;
  text-align: center;
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
}
.footer__item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  transition: color 0.25s ease;
}
.footer__link:hover,
.footer__link:active {
  color: #ff7b47;
}

/* -------------------------/Title block */

/* -------------------Header--------------------- */
.header__inner {
  position: absolute;
  z-index: 50;
  display: flex;
  min-height: 104px;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33333;
}
.header__nav {
  margin-left: 132px;
}
.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 21px;
}
.header__nav-link {
  font-weight: 600;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.01em;
  color: #737373;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:hover,
.header__nav-link:focus {
  border-bottom: 2px solid;
}

@media (max-width: 992px) {
  .header__nav {
    margin-left: 80px;
  }
}
@media (max-width: 767px) {
  .header__inner {
    justify-content: space-between;
  }
  .header__nav {
    position: relative;
  }
  /* .header__nav-list {
    z-index: 5;
    position: absolute;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    gap: 20px;
    background-color: #fff;
    text-align: center;
    transform: translateY(-100%);
    transition: transform 0.6s ease;
  } */
  /* .header__nav-list.nav-list-open {
    transform: translateY(0%);
  } */
  .header__nav-item {
    position: relative;
  }
  .header__nav-link {
    font-size: 22px;
  }
  .menu-open__btn {
    display: block;
  }
  .mobile-menu-close {
    display: block;
  }
  .menu__close-btn {
    display: block;
    position: absolute;
    top: 35px;
    right: 20px;
    padding: 7px 15px;
    font-size: 20px;
    color: #737373;
    border-radius: 50%;
    cursor: pointer;
  }
}
@media (max-width: 479px) {
  .header__inner {
    min-height: 70px;
  }
}
/* -------------------/Header--------------------- */

/* -------------------Hero------------------------- */
.hero {
  position: relative;
}
.hero-inner {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 509px;
}
.hero-inner > *:not(:last-child) {
  margin-bottom: 35px;
}
.hero__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 1.37;
  letter-spacing: 0.01em;
}
.hero__text {
  max-width: 380px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #737373;
}
.hero__list-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.hero__item-link {
  display: inline-flex;
  align-items: center;
  padding: 5px 36px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d5c63;
  height: 48px;
  border-radius: 37px;
  border: 1px solid #0d5c63;
  transition: background-color 250ms ease, color 250ms ease;
}
.hero__item-link.active {
  background-color: #ff7b47;
  color: #fff;
}
.hero__item-link:hover,
.hero__item-link:active {
  background-color: #ff7b47;
  color: #fff;
}
.hero__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1300px) {
  .hero__bg-img {
    object-position: right;
  }
}
@media (max-width: 992px) {
  .hero-inner {
    padding: 120px 0 191px 0;
  }
  .hero__text {
    color: #5b5b5b;
  }
  .hero__bg-img {
    opacity: 0.5;
  }
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 45px;
  }
}
@media (max-width: 479px) {
  .hero__title {
    font-size: 42px;
  }
}
@media (max-width: 385px) {
  .hero__item {
    width: 100%;
  }
  .hero__list-btn {
    gap: 20px;
  }
  .hero__item-link {
    justify-content: center;
    width: 100%;
  }
}
/* ---------------------/Hero----------------- */

/* ---------------------Service----------------- */
.services {
  position: relative;
  z-index: 2;
  margin-top: -110px;
}

.services__title {
  display: flex;
  gap: 30px;
}
.services__item {
  flex: 0 1 33.333%;
  padding: 35px;
  box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
  transition: background-color .25s ease, transform .3s ease-in-out;
}
.services__item > *:not(:last-child) {
  margin-bottom: 10px;
}
.services__item:hover,
.services__item:active{
  background-color: #0d5c63;
  color: #fff;
  transform: scale(1.05, 1.15);
}
.services__item:hover .item-block__text,
.services__item:active .item-block__text {
  color: #fff;
}
.services__item:hover .services__svg,
.services__item:active .services__svg {
  fill: #fff;
}

.services__svg {
  fill: #0d5c63;
  transition: fill .25s ease;
}
.item-block__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 10px;
  transition: color .25s ease;
}
.item-block__text {
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #737373;
  transition: color .25s ease;
}

@media (max-width: 992px) {
  .services__title {
    flex-wrap: wrap;
  }
  .services__item {
    flex: 1 0 33.33%;
  }
  .services__item:last-child {
    flex: 1 1 100%;
  }
}
@media (max-width: 650px) {
  .services__item {
    flex: 1 1 100%;
  }
}
@media (max-width: 479px) {
  .services {
    margin-top: -130px;
  }
  .services__title {
    gap: 20px;
  }
}

/* ---------------------/Service----------------- */

/* ---------------------Advantages---------------- */
.advantages {
  padding: 80px 0;
}

.advantages__list {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
.advantages__item {
  flex: 0 1 25%;
  max-width: 300px;
  padding: 30px;
  text-align: center;
  background-color: #fff;
}
.advantages__item > *:not(:last-child) {
  margin-bottom: 10px;
}
.advantages__svg {
  height: 48px;
  fill: #0d5c63;
}
.advantages__item-value {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.425;
  letter-spacing: 0.01em;
}
.advantages__item-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: #737373;
}
@media (max-width: 1000px) {
  .advantages__list {
    flex-wrap: wrap;
  }
  .advantages__item {
    flex: 1 0 50%;
    max-width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 767px) {
  .advantages__title {
    font-size: 35px;
  }
}
@media (max-width: 650px) {
  .advantages {
    padding: 60px;
  }
}
@media (max-width: 560px) {
  .advantages {
    padding: 50px;
  }
  .advantages__item {
    max-width: 100%;
  }
}
@media (max-width: 479px) {
  .advantages {
    padding: 35px;
  }
  .advantages__list {
    margin-top: 35px;
    gap: 15px;
  }
}
/* ---------------------/Advantages---------------- */

/* ---------------------Advice--------------------- */
.advice {
  padding: 80px 0;
}

.advice__top {
  margin: 0 auto 45px;
}
.advice__title {
  margin-bottom: 10px;
}
.advice__text {
  margin: 0 auto;
  max-width: 475px;
}
.advice__list {
  display: flex;
  gap: 30px;
}
.advice__item {
  max-width: calc((100% - 30px * 3) / 4);
  background-color: #fff;
}
.advice__item-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.advice__item-inner {
  padding: 30px;
}
.advice__item-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
}
.advice__item-text {
  color: #737373;
  line-height: 1.42;
}

.advice__item-img {
  width: 100%;
  height: 138px;
  object-fit: cover;
}
@media (max-width: 1000px) {
  .advice__list {
    flex-wrap: wrap;
  }
  .advice__item {
    max-width: calc((100% - 30px * 1) / 2);
  }
  .advice__item-img {
    height: auto;
  }
}
@media (max-width: 767px) {
  .advice {
    padding: 35px 0;
  }
  .advice__top {
    margin: 0 auto 20px;
  }
}
@media (max-width: 650px) {
  .advice__item-inner {
    padding: 10px;
  }
  .advice__item-title {
    margin-bottom: 15px;
  }
}
@media (max-width: 650px) {
  .advice__title {
    font-size: 35px;
  }
  .advice__item {
    flex: 1 0 auto;
    max-width: 100%;
  }
}
/* ---------------------/Advice--------------------- */

/* ------------------------Who we are------------------- */

.whoweare {
  padding: 100px 0 135px 0;
  background-color: #fff;
}
.whoweare__top {
  max-width: 515px;
  margin: 0 auto 100px;
}
.whoweare__title {
  margin-bottom: 15px;
}
.whoweare__text {
}
.whoweare__content {
  display: flex;
  justify-content: space-between;
}
.whoweare__content-left {
  width: 55.55%;
  max-height: 442px;
}
.whoweare__content-left iframe {
  max-width: 100%;
  height: 100%;
}
.whoweare__content-right {
  margin-top: 20px;
  max-width: 335px;
}
.whoweare__content-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
}
.whoweare__content-description {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: #737373;
}

.whoweare__content-item {
  display: flex;
}
.whoweare__content-item:not(:last-child) {
  margin-bottom: 30px;
}
.whoweare__content-item-icon {
  margin-right: 20px;
}

.whoweare__content-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
}
.whoweare__content-link-description {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  color: #737373;
}
@media (max-width: 900px) {
  .whoweare {
    padding: 75px 0 100px 0;
  }
  .whoweare__top {
    margin: 0 auto 70px;
  }
  .whoweare__content {
    flex-direction: column;
  }
  .whoweare__content-description {
    margin-bottom: 40px;
  }
  .whoweare__content-left {
    text-align: center;
    width: 100%;
  }
  .whoweare__content-right {
    margin-top: 40px;
    max-width: 100%;
  }
}
@media (max-width: 650px) {
  .whoweare__top {
    margin: 0 auto 50px;
  }
  .whoweare__content-title {
    font-size: 35px;
  }
}
@media (max-width: 560px) {
  .whoweare {
    padding: 75px 0 70px 0;
  }
  .whoweare__top {
    margin: 0 auto 35px;
  }
  .whoweare__content-title {
    font-size: 26px;
  }
}
/* ------------------------/Who we are------------------- */

/* -----------------------Clients----------------------- */
.clients {
  padding: 71px 0 91px 0;
  background-color: #fafafa;
}
.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.clients__item {
  padding: 5px 25px;
  max-width: 153px;
  flex-shrink: 1;
}

.clients__item-link:hover .clients__item-svg {
  fill: #0d5c63;
}
.clients__item-svg {
  transition: fill 0.25s ease-in;
  fill: #737373;
}
@media (max-width: 1050px) {
  .clients {
    padding: 71px 0 71px 0;
  }
}
@media (max-width: 1000px) {

  .clients__item {
    padding: 5px 15px;
  }
}
@media (max-width: 767px) {
  .clients__item {
    padding: 5px 15px;
    max-width: 100px;
  }
}
/* -----------------------/Clients----------------------- */
/* ------------------------Subscribe--------------------- */
.subscribe {
  position: relative;
  padding-bottom: 20px;
}
.subscribe::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  background-color: #252b42;
  height: 77px;
  z-index: 1;
}

.subscribe__inner {
  position: relative;
  z-index: 2;
  max-width: 986px;
  margin: 0 30px;
  background-color: #17213c;
  color: #fff;
}
.subscribe__form {
  display: flex;
  padding: 30px 50px;
}
.subscribe__form-label {
  margin-right: auto;
  padding-right: 5px;
  max-width: 266px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  align-self: center;
}
.subscribe__input {
  padding: 15px 20px;
  max-width: 333px;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-right: none;
  border-radius: 5px 0 0 5px;
  font-family: inherit;
}
.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.01em;
  color: #737373;
}
.subscribe__btn {
  border: 1px solid #e6e6e6;
  border-radius: 0 5px 5px 0;
  padding: 15px 20px;
  max-width: 117px;
  min-height: 58px;
  background-color: #ff7b47;

  font-family: inherit;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.01em;
  text-align: center;
  transition: background-color 0.25s ease;
}
.subscribe__btn:hover,
.subscribe__btn:active {
  background-color: #f95312;
}
@media (max-width: 870px) {
  .subscribe__form-label {
    font-size: 20px;
  }
  .subscribe__form {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .subscribe__form {
    flex-direction: column;
  }
  .subscribe__form-label {
    min-width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }

  .subscribe__input {
    min-width: 100%;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .subscribe__btn {
    min-width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
}
/* ------------------------/Subscribe--------------------- */

/*-------------------------Touch-------------------------*/
.touch {
  padding: 80px 0 148px 0;
}
.touch__top {
  margin-bottom: 80px;
}

.touch__text {
  max-width: 470px;
  margin: 0 auto;
}

.touch__list {
  display: flex;
  gap: 5px;
}
.touch__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #fff;
  max-width: calc((100% - 5px * 2) / 3);
  transition: transform 0.25s ease, background-color 0.3s linear,
    color 0.25s ease-in;
}

.touch__item:hover,
.touch__item:active {
  background-color: #252b42;
  color: #fff;
  transform: scale(1, 1.1);
}
.touch__item:hover .touch__item-link,
.touch__item:active .touch__item-link {
  border: 1px solid #fff;
  color: #fff;
  transition: border 0.25s ease, box-shadow 0.25s ease;
}
.touch__item:hover .touch__item-link:hover,
.touch__item:active .touch__item-link:active {
  border: 1px solid #ff7b47;
  box-shadow: 0px 0px 10px 0px #ff7b47;
}

.touch__item:hover .touch__item-icon,
.touch__item:active .touch__item-icon {
  fill: #fff;
}

.touch__item-icon {
  margin-bottom: 15px;
  fill: #0d5c63;
}
.touch__item-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  text-align: center;
}

.touch__item-title {
  margin: 15px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
}
.touch__item-link {
  border: 1px solid #ff7b47;
  border-radius: 5px;
  padding: 10px 20px;
  min-height: 44px;

  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ff7b47;
}
@media (max-width: 870px) {
  .touch {
    padding: 80px 0 80px 0;
  }
  .touch__top {
    margin-bottom: 55px;
  }
  .touch__list {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .touch__item {
    max-width: calc((100% - 5px) / 2);
    flex-grow: 1;
  }
}

@media (max-width: 650px) {
  .touch__item {
    padding: 30px;
  }
}
@media (max-width: 560px) {
  .touch__item {
    max-width: 100%;
  }
}
@media (max-width: 475px) {
  .touch {
    padding: 55px 0 55px 0;
  }
  .touch__top {
    margin-bottom: 35px;
  }
}
/*-------------------------/Touch-------------------------*/

/* ------------------------Contact us------------------- */
.contactus {
  padding: 40px 0;
  background-color: #fff;
}
.contactus__inner {
  display: flex;
  justify-content: space-between;
}
.contactus__body {
}
.contactus__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
}
.contactus__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: #737373;
}
.contactus__link {
  border-radius: 5px;
  padding: 15px 40px;
  min-height: 58px;
  background-color: #ff7b47;

  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  transition: background-color 0.25s ease-in;
}
.contactus__link:hover,
.contactus__link:active {
  background-color: #f95312;
}

@media (max-width: 767px) {
  .contactus__inner {
    flex-direction: column;
  }
  .contactus__body {
    margin-bottom: 30px;
  }
}
/* ------------------------/Contact us------------------- */

/* -----------------------Footer--------------------------- */

.footer__body {
  padding: 50px 0 50px 0;
  background-color: #17213c;
  color: #fff;
}
.footer__inner {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.footer__touch {
  max-width: 321px;
}
.footer__touch-link {
  display: flex;
}
.footer__touch-link:hover .footer__touch-icon,
.footer__touch-link:focus .footer__touch-icon {
  fill: #46a2f9;
  transform: scale(1.2);
}
.footer__touch-icon {
  margin-right: 10px;
  flex-shrink: 0;
  fill: #8ec2f2;
  transition: fill 0.25s ease;
}
.footer__bottom {
  padding: 25px 0;
}
.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
}
.footer__bottom-text {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  color: #737373;
}
.footer__social-list {
  display: flex;
  gap: 20px;
}
.footer__social-item {
  display: flex;
  align-items: center;
}
.footer__social-link {
  display: flex;
  align-items: center;
}
.footer__social-icon {
  flex-shrink: 0;
  transition: transform 0.25s ease-in, border-radius 0.25s ease-in;
}
.footer__social-icon:hover,
.footer__social-icon:active {
  transform: scale(1.2);
  border-radius: 30%;
}
@media (max-width: 1000px) {
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__info,
  .footer__legal,
  .footer__features,
  .footer__resources {
    width: 25%;
  }
}
@media (max-width: 560px) {
  .footer__body {
    padding: 30px 0;
  }
  .footer__info,
  .footer__legal,
  .footer__features,
  .footer__resources {
    flex: 1 0 30%;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 5px;
  }
  .footer__title {
    margin-bottom: 10px;
  }
  .footer__bottom {
    padding: 15px 0;
  }
  .footer__bottom-inner {
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  .footer__bottom-text {
    text-align: center;
  }
}

/* -----------------------/Footer--------------------------- */
